In [ ]:
import pandas as pd

df_train = pd.read_csv("diabetes.csv")
df_train

,PatientID,Age,Gender,BMI,BloodPressure,Insulin,Glucose,DiabetesPedigreeFunction,Outcome
0,1,52,Male,30.239636,149,113,115,0.312886,1
1,2,53,Female,30.932781,71,39,104,0.389526,0
2,3,21,Male,45.092714,161,67,151,1.205869,0
3,4,39,Male,47.795530,101,165,184,0.595201,1
4,5,22,Female,20.718108,160,158,116,0.974248,1
...,...,...,...,...,...,...,...,...,...
196,197,54,Female,33.600000,140,118,149,1.160000,1
197,198,58,Male,29.900000,128,111,139,0.860000,0
198,199,35,Female,26.000000,117,94,125,0.620000,0
199,200,49,Male,37.000000,153,135,163,1.510000,1
200,14,75,Male,40.830696,120,147,134,0.246587,0

In [3]:
import pandas as pd

df_train = pd.read_csv("diabetes.csv")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PatientID                 201 non-null    int64
 1   Age                       201 non-null    int64
 2   Gender                    201 non-null    object
 3   BMI                       201 non-null    float64
 4   BloodPressure             201 non-null    int64
 5   Insulin                   201 non-null    int64
 6   Glucose                   201 non-null    int64
 7   DiabetesPedigreeFunction  201 non-null    float64
 8   Outcome                   201 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 14.3+ KB

In [4]:
import pandas as pd

df_train = pd.read_csv("diabetes.csv")
df_train.describe(include='all')

,PatientID,Age,Gender,BMI,BloodPressure,Insulin,Glucose,DiabetesPedigreeFunction,Outcome
count,201.000000,201.000000,201,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,NaN
mean,100.069652,48.761194,NaN,31.729205,127.522388,130.109453,137.741294,1.050990,0.472637
std,58.055793,14.215931,NaN,7.092476,23.992098,56.925899,27.431783,0.504914,0.500497
min,1.000000,21.000000,NaN,18.663323,71.000000,15.000000,70.000000,0.148171,0.000000
25%,50.000000,39.000000,NaN,26.800000,115.000000,95.000000,123.000000,0.680000,0.000000
50%,100.000000,49.000000,NaN,30.932781,130.000000,117.000000,140.000000,0.971398,0.000000
75%,150.000000,58.000000,NaN,35.800000,143.000000,159.000000,154.000000,1.377072,1.000000
max,200.000000,79.000000,NaN,49.427988,178.000000,273.000000,198.000000,2.467637,1.000000

In [ ]:
import pandas as pd

df_train = pd.read_csv("diabetes.csv")